.Greetings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 115px;
  max-height: 220px;
  padding-top: 60px;
}
h1.title {
  font-size: 48px;
}
h3.intro {
  font-size: 21px;
  padding-bottom: 20px;
}
p.label {
  font-size: 21px;
  color: rgb(214, 205, 205);
  font-weight: bold;
}
span.keyload {
  font-size: 22px;
  color: rgb(243, 62, 62);
  font-weight: bold;
  transition: .3s all ease;
}
.search-form {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-form p {
  font-size: 14px;
  font-weight: 600;
  color: #efc600;
}
.search-form form {
  padding: 10px;  
}
.search-form form input {
  border: 3px solid white;
  background: transparent;
  outline: none;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  font-style: italic;
  width: 300px; 
}
.search-form form input::placeholder {
  color: rgb(179, 179, 179);
  font-weight: 300;
  font-style: italic;
}
.search-form form button {
  border: 3px solid rgb(236, 232, 0);
  outline: none;
  background: rgb(236, 232, 0);
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 20px;
  color: rgb(37, 37, 37);
  font-weight: 600;
  font-style: italic;
  min-width: 100px; 
  margin-left: 10px;
}
.by.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.by.container p {
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  color: rgb(243, 62, 62);
}
.second.container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.second.container .col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-3 button {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  width: 190px;
  background: transparent;
  border: 3px solid white;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 20px;
  color: white;
  white-space: nowrap;
  transition: all .3s ease;
}
.col-3 button:hover {
  color: rgb(0, 0, 0);
  background: white;
  transform: translateY(-6px);
}

@media all and (max-width: 1000px) {
  h1.title {
    font-size: 40px;
  }
  h3.intro {
    font-size: 18px;
  }
  p.label {
    font-size: 18px;
  }
  span.keyload {
    font-size: 19px;
  }
}

@media all and (max-width: 860px) {
  h1.title {
    margin: 0;
  }
  .col-3 button {
    width: 150px;
    background: transparent;
    border: 2px solid white;
    padding: 10px;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    white-space: nowrap;
  }
}
@media all and (max-width: 720px) {
  .greetings {
    padding-top: 50px;
  }
  h1.title {
    font-size: 32px;
  }
  h3.intro {
    font-size: 16px;
    text-align: center;
  }
  p.label {
    font-size: 16px;
  }
  span.keyload {
    font-size: 18px;
  }
  .second.container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .search-form {
    padding-top: 20px;
  }
  .search-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search-form form input {
    width: 100%;
  } 
  .search-form form button {
    width: 150px;
    margin-top: 10px;
  }
  .second.container {
    padding-top: 20px;
  }
  .by.container p {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
  }
}
